BODY {
    BACKGROUND: #80b0ff; COLOR: #000000;
    FONT-FAMILY: Verdana, sans-serif; font-size: 11pt
    margin: 0px;
    padding: 0px;
    }
STRONG {
    COLOR: red
    }
H1, H2 {
    FONT-FAMILY: Garamond, "Times New Roman", serif; text-align: center
    }
H1 {
    Margin-Bottom: 0.4em
    }
H2 {
    }
H3, H4, H5, H6 {
    FONT-FAMILY: Verdana, sans-serif
    }
EM {
    FONT-WEIGHT: bold
    }
#message1 {
    color: #C05000
    }
#message2 {
    color: #C05000; font-weight: bold
    }
#sessformdiv {
    width: 46em; border: 1px solid black; padding: 0.8em; margin-bottom: 1em
    }
.property {
    FONT-WEIGHT: bold; FONT-STYLE: italic; 
    }
.bigbox {
    display: table-cell;
    border: 1px solid black; 
    padding: 3px;
    }
.formbox {
    display: block;
    border: 3px solid darkblue; 
    padding: 3px;
    align: center;
    }
.row1 {
    display: table-row; 
    }
.bb {
    display: block; 
    }
.features {
    display: block; 
    border: 1px solid black; 
    }
.services {
    display: block; 
    border: 1px solid black; 
    }
.b5 {
    border: 1px solid black; 
    display: table-row; 
    }
.b5_a {
    display: table-cell; 
    vertical-align: top;
    }
.b5_b {
    display: table-cell; 
    vertical-align: top;
    }
.ib {
    display: table-cell; 
    padding: 2px;
    }
.select_set {
    display: table-row; 
    padding: 2px;
    }
.select_r {
    display: table-cell; 
    width: 10em;
    padding: 2px;
    }
.select_l {
    display: table-cell; 
    padding: 2px;
    }
.textwithlabel {
    display: table-row; 
    }
.textlabel {
    display: table-cell; 
    width: 7em ;
    vertical-align: top;
    text-align: right;
    }
.textlabelarea {
    display: table-cell; 
    height: 6.4em;
    }
.titlelabelarea {
    display: table-cell; 
    height: 1.2em;
    }
.buttons {
    position: absolute;
    right: 20px;
    }
BUTTON {
    display: block;
    }
