################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webpages/participant_photos
/webpages/Zambia.phpproj.user
/webpages/Zambia.phpproj
/ZambiaTest - Shortcut.lnk
/Zambia.sln
/db_name.php
/ZambiaPrimaryRepo.iml
/webpages/ReportMenuBS4Include.php
/webpages/ReportMenuInclude.php
/webpages/staffReportsInCategoryInclude.php
/webpages/.vs
/crons
*.swp
*.sav
/.idea/.gitignore
/.idea/modules.xml
/.idea/php.xml
/.idea/vcs.xml
/.idea/Zambia.iml
