################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/webpages/participant_photos
/webpages/Zambia.phpproj.user
/webpages/Zambia.phpproj
/webpages/staffReportsInCategoryInclude.php
/webpages/ReportMenuInclude.php
/webpages/ReportMenuBS4Include.php
/ZambiaTest - Shortcut.lnk
/Zambia.sln
/db_name.php
