/* . are classes */
/* # are ids and must be unique in a page*/

/* This section is part of the CSS refactor 1 Feb 2011 PBO*/

.newform {
	margin: 0;
	font-family: Verdana, Arial;
	font-size: 0.9em;
	}
	
input[readonly], textarea[readonly] {
	background-color: lightGray;
	color: #808080;
	}

textarea.readonly {
     background-color: lightgray;
     color: #808080;
     }

.newformdiv { /* keep label, control, and note together */
	display: inline-block;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
	margin-left: 0.5em;
	margin-right: 1.5em;
	font-family: Verdana, Arial;
	font-size: 0.9em;
	}

.newformbuttondiv {
	margin-top: 0.6em;
	margin-left: 0.5em;
	text-align: center;
	}

.newformnote {
	font-weight: bold;
	}

.newforminputspan {
	}

.newformlabelspan {
	}

.newformselectspan {
	}

.newforminput {
	}

.newformlabel {
	}

.newformselect {
	}

.newformbutton {
text-align: center;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	padding-right: 1.5em;
	padding-left: 1.5em;
	background-color:DarkGrey;
	}

.newformbutton:hover {
	background-color:Gainsboro;
	}

.newoverviewtext {
	/* DIV */
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.5em;
	margin-right: 0;
	}
	
.newcommandlink {
	/* DIV */
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	margin-left: 0.5em;
	margin-right: 0;
	}
	
.newcommanddescription {
	/* DIV */
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 0.5em;
	margin-right: 0;
	}

/* Everything below this section is not part of the CSS refactor 1 Feb 2011 PBO*/
/*
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 1em;
    }
*/

BODY {
    font-family: Arial;
    font-size: 1em;
    margin-top: 35px;
    }

P {
    margin: 10px;
    }

FORM {
    margin-left: 1em;
    }

FORM.nomargin {
    margin-left: 0
    }

.sectionheader {
    margin: 10px;
    }

#error {
    FONT-WEIGHT: bold; color: #E02020
    }

hr {
    height: 0.1em;
    background-color: #252588;
    margin-bottom: 5px;
    }

A {
    font-weight: normal;
    color: #2775AF;
    text-decoration : none;
    }

A:hover {
    font-weight: normal;
/*    color: #00804F; */
    color: orange; 
    text-decoration : none;
    }

H1, H2, H3 {
    text-align: center
    }

H1.head {
    font-family: Verdana;
    font-size: 150%;
    padding-bottom: 0.5em;
    }

H2.head {
    font-family: Verdana;
    font-size: 125%;
    padding-bottom: 0.5em;
    margin-left: 2em;
    text-decoration: underline;
    }

H4 {
    margin-left: 5em;
    margin-right: 5em
    }

DIV.dialog, SPAN.dialog {
	font-family: Verdana, Arial;
    font-size: 0.75em;
	}
	
DIV.action, SPAN.action {
	font-family: Verdana, Arial;
	font-size: 9pt;
	color: blue;
	background-color: white;
	}

DIV.resultBox {
	font-family: Verdana, Arial;
	font-size: 10pt;
	color: DarkGreen;
	background-color: white;
	border: 1px solid DimGray;
	margin: 2em 10em 2em 10em;
	min-height: 4em;
	padding: 0.5em;
	}

DIV.actionB, SPAN.actionB {
	font-family: Verdana, Arial;
	font-size: 9pt;
	font-style:italic;
	color: teal;
	background-color: white;
	}

DIV.action_hover, SPAN.action_hover {
	font-family: Verdana, Arial;
	font-size: 9pt;
	color: yellow;
	background-color: black;
	cursor: pointer;
	}

DIV.actionB_hover, SPAN.actionB_hover {
	font-family: Verdana, Arial;
	font-size: 9pt;
	font-style:italic;
	color: orange;
	background-color: black;
	cursor: pointer;
	}
	
div.emptyResult, span.emptyResult {
	font-family: Verdana, Arial;
	font-size: 9pt;
	color: black;
	background-color: white;
}

div.beforeResult, span.beforeResult {
	font-family: Verdana, Arial;
	font-size: 9pt;
	font-style:italic;
	color: LightSteelBlue;
	background-color: white;
	}
	

.Welcome {
    font-weight: bold;
    font-size: 80%;
    color: black;
    text-decoration: none;
    text-align: right;
    padding-right: 2em;
    }

.TopmenuText {
    font-family: Arial;
    font-weight: bold;
    color: white;
    text-decoration : none;
    }

A.TopmenuLink {
    font-family: Arial;
    font-weight: bold;
    color: white;
    text-decoration : none;
    }

A.TopmenuLink:HOVER {
    font-family: Arial;
    font-weight: bold;
    color: yellow;
    text-decoration : none;
    }

A.TopmenuLink-Active {
    font-family: Arial;
    font-weight: bold;
    color: yellow;
    text-decoration : none;
    }

A.TopmenuLink-Active:HOVER {
    font-family: Arial;
    font-weight: bold;
    color: white;
    text-decoration : none;
    }

A.logout:link, A.logout:visited {
    background-color: #800040;
    color: #E8E473;
    font-weight: 800;
    }

A.logout:hover {
    background-color: #F00028;
    color: #E8E473;
    font-weight: 800;
    }
    
DD {
    margin-left: 4em
    }

DT {
    margin-left: .5em
    }

TABLE.login {
    text-align: center;
    border: 1px;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    }

TR {
    padding: 5px;
    }

img {
    border: 0px;
    margin: 0px;
    }

TABLE {
    border-collapse: collapse;
    margin: 10px;
    }
    
TH {
    background-color: #C0E4FF;
    padding-left: 0.2em;
    padding-right: 0.2em
    }

P.errmsg, SPAN.errmsg {
    color: red;
    font-weight: bold;
	font-size: 1.2em;
    }

P.regmsg {
    color: #33FF00;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    }

SPAN.regmsg {
	color: #00AA44;
    font-weight: bold;
    font-size: 1.2em;
	}

.emphasis {
     font-weight: bold;
     }

.controlwithlabel {
     display: inline-block;
     margin: 1em;
     vertical-align: top;
     }

.newlabel {
     text-align: center;
     display: block
     }

.control {
     display: block;
     text-align: center;
     }

#congo_section {
     display: table;
     padding: .5em;
     margin: 1em;
     margin-left: 7em;
     }

.congo_data {
     display: table-row;
     }

.congo_data .label {
     font-family: Verdana;
     font-weight: normal;
     color: black;
     text-decoration : none;
     display: table-cell;
     /* text-align: "&nbsp;"; */
     /* padding-left: 3em; */
     }

.label {
     font-family: Verdana;
     font-weight: normal;
     color: black;
     text-decoration : none;
     display: table-cell;
     /* text-align: "&nbsp;"; */
     /* padding-left: 3em; */
     margin-left: 10px;
     }

.congo_data .label2 {
     font-family: Verdana;
     font-weight: normal;
     color: black;
     text-decoration : none;
     display: table-cell;
     /* text-align: "&nbsp;"; */
     padding-left: 3em;
     }

.congo_data .value {
    font-family: Arial;
    font-weight: bold;
    color: #004080;
    text-decoration : none;
    display: table-cell;
    padding-left: 3em;
    }

.congo_data .value2 {
    font-family: Arial;
    font-weight: bold;
    color: #004080;
    text-decoration : none;
    display: table-cell;
    padding-left: 3em;
    }

.congo-note {
    font-size: 120%;
    max-width: 35em;
    }

select, input {
    font-weight: bold;
    background-color: #FFFFFF;
    color: #003278;
    }

select.yesno {
    width: 60px;
    }


.bigbox {
    display: table-cell;
    border: 1px solid black;
    padding: 3px;
    }

.withspace {
    margin-top: 5px;
    margin-bottom: 5px;
    }

.formbox {
    display: block;
    border: 3px solid #004400;
    padding: 3px;
    text-align: left;
    }

.thinbox {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    }

.divbox {
	border: 1px solid gray;
	padding: 2px;
	margin: 2px;
	}

.thinbox2 {
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    display: block;
    }

LABEL.dense {
    font-size: 85%;
    }

.denseform {
    font-size: 85%;
    margin-bottom: 7px;
    margin-top: 2px;
    }

.regform {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    }

.denseformrow {
    font-size: 85%;
    margin-bottom: 5px;
    margin-top: 5px;
    display: table-row;
    }

.thickobject {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    }

.textbox {
    display: table-cell;
    }

.blockwbox {
    display: block;
    border: 1px solid black;
    padding: 2px;
    margin: 2px;
    }

.blockstitle {
    text-align: center;
    }

.block {
    display: block;
    }

.cellwbox {
    padding: 2em;
    margin: 2em;
    display: table-cell;
    }

.tcell {
    padding: 3px;
    display: table-cell;
    }
    
.tab {
    display: table
    }

.tab-row {
    display:table-row
    }

.tab-col {
    display:table-column
    }

.tab-cell {
    display:table-cell;
    }

.tab-celltitle {
    display:table-cell;
    text-align: center;
    }

.nospace {
    margin: 0em;
    padding: 0em;
    }

#contact {
    border: solid black 2px;
    width: 35em;
    }

.last {
  display: block;
    }

.label {
    }

.small {
    font-size: 80%;
    }

.hilit {
    font-weight: bold
    }
    
.sched_hd {
    font-weight: bold;
    padding-bottom: 2px;
    }
        
.vatop {
    vertical-align: top
    }
    
.usrinp {
    font-style: italic;
    color: #252588;
    font-weight: 600
    }
    
.addbox {
    border: none;
    font-style: italic;
    font-weight: bold;
    color: #252588;
    }
    
.border0000 {
    border:none
    }
.border0010 {
    border-top: none;
    border-right: none;
    border-bottom: solid black 1px;
    border-left: none
    }
.border0020 {
    border-top: none;
    border-right: none;
    border-bottom: solid black 2px;
    border-left: none
    }
.border1111 {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border1121 {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 2px;
    border-left: solid black 1px
    }
.border1211 {
    border-top: solid black 1px;
    border-right: solid black 2px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border1221 {
    border-top: solid black 1px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 1px
    }
.border2111 {
    border-top: solid black 2px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border2122 {
    border-top: solid black 2px;
    border-right: solid black 1px;
    border-bottom: solid black 2px;
    border-left: solid black 2px
    }
.border2211 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border2221 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 1px
    }
.border2222 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 2px
    }

.padding2000 {
     padding-top: 2px;
     }

#update_section {
    display: table;
    }

.my_contact {
    font-size: 60%;
    }

.userFormDiv, .userFormTXT, .userFormINPTXT {
	font-family: verdana, arial;
	font-size: 15px;
	}

.note {
	margin-top:0.5em;
	margin-bottom:0.5em;
    width: 30em;
	}

.noteWLfPad {
	margin-top:0.5em;
	margin-bottom:0.5em;
    width: 31em;
	padding-left:1em;
	}

.labelNinput {
    margin-bottom: 1em;
	padding-left:1em;
    }

.widelabel {
    display: inline-block;
    width: 30em;
    word-wrap: break-word;
    vertical-align:top;
    }

.inputhadlabel {
    padding-left: 0.5em;
    vertical-align: top;
    }

.verticalRadioButs {
    display: inline-block;
    }

.checkboxList {
	padding-left:3em;
	}

.padbot0p5 {
    padding-bottom: .5em;
    }

.radiohead {
    /*font-family: Verdana;*/
    font-weight: normal;
    color: black;
    text-decoration : none;
    /*display: table-cell;
    text-align: "&nbsp;";*/
    padding-left: 0;
    }

.hiddenWarning {
	display: none;
	}
	
.revealedWarning {
	display: inline;
	color: red;
	font-weight: bold;
	}

.password {
    display: table-row;
    height: 35px;
    }

.password .value {
    display: table-cell;
    }

#submit, #submit2 {
    position: absolute;
    right: 10em; 
    }
     
.submit {
    }
     
TD {
    padding-left: 0.2em;
    padding-right: 0.2em
    }

TD.center {
    text-align: center;
    }

TD#sessidtcell {
    vertical-align:top;
    padding-right: 0.5em
    }
     
.smallspacer {
    font-size: 50%
    }

#intCmnt {
    height: 2.4em
    }


.bb {
    display: block; 
    }

.features {
    display: block; 
    border: 1px solid black; 
    }

.services {
    display: block; 
    border: 1px solid black; 
    }

.b5 {
    border: 1px solid black; 
    display: table-row; 
    }

.b5_a {
    display: table-cell; 
    vertical-align: top;
    }
 
.b5_b {
    display: table-cell; 
    vertical-align: top;
    }

.ib {
    display: table-cell; 
    padding: 2px;
    }

.select_set {
    display: table-row; 
    padding: 2px;
    }

.selectfwidth {
    width: 13em;
    }

.textwithlabel {
    display: table-row; 
    }

.textlabelarea {
    }

.txtalbl {
    text-align: right;
    padding-bottom: 1em;
    }

.txtalbl-last {
    text-align: right;
    }

.txta {
    font-size: 85%;
    padding-bottom: 1em;
    }

.txta-last {
    font-size: 85%;
    }

.titledtextarea {
    margin: 1em;
    }

.titledtextarea > label {
    font-weight: bold;
    display: block;
    }

.titledtextarea > textarea {
    display: block;
    }

.titlelabelarea {
    display: table-cell; 
    height: 1.2em;
    }
    
BUTTON {
    background-color: #C0C0C0;
    padding: 0.5em;
    }

button.SubmitButton {
    background-color: #C0C0C0;
	padding: 0.2em;
    }

button.SubmitButtonNew {
	font-family: verdana, arial;
	font-size: 15px;
    background-color: #C0C0C0;
	width: 100%;
    }

button.ActionButton {
	font-size: 10pt;
	padding: 5pt;
    }
    
.SubmitDiv {
    text-align: right;
    margin-right: 5em
    }

.SubmitDivNew {
    width: 100%;
    }

.SubmitDiv2New {
    width: 10em;
	margin-left: auto;
	margin-right: auto;
    }
    
OL, UL {
    margin-left: 3em;
    }

.lrmargin {
    margin-left: 2em;
    margin-right: 2em
    }
   
.lrpad {
    padding-left: 1em;
    padding-right: 1em
    }
   
.inln {
    display: inline
    }

/* Start of settings needed make the tabs work */   
.usabletab {
        background: #002985;
        background-image: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        height: 18px;
}
.mousedovertab {
        background: white;
        background-image: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        height: 18px;
}
.unusabletab {
        background: #606060;
        background-image: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11pt;
        height: 18px;
}
/* definitions for the table at the top of the pages */
TABLE.tabhead {
    margin: 0px;
    width: 100%;
    border: 0px;
    padding: 0px;
    }
TR.tabrow {
   margin: 0px;
   border: 0px; 
   padding: 0px;
   }
TD.tabblocks {
	padding-top: 3px;
	padding-bottom: 0;
	margin-bottom: 0;
    background: #808080;
    color: white;
    }
TD.head {
    background: #808080;
    }
/*
 * these are used to override the browser's default decoration on
 * links
 */
span.usabletab span.unusabletab span.mousedovertab {
	margin-bottom: 0;
	padding-bottom: 0;
	vertical-align: bottom;
	}

span.usabletab a:link {
	color: white;
	text-decoration: none;
	}
	
span.usabletab a:visited {
	color: white;
	text-decoration: none;
	}

span.mousedovertab a:link {
	color: #002985;
	text-decoration: none;
	}

span.mousedovertab a:visited {
	color: #002985;
	text-decoration: none;
	}

/*
 * attributes of the images used to draw the borders of the tabs
 */
IMG.tabborder {
        vertical-align:top; 
        height: 14px; 
        width: 10px;
}
/* End of settings needed make the tabs work */
TABLE.report {
	border: 1px solid black;
	font-family: Arial;
	font-size: 12px;
	}

TH.report {
	border: 1px solid black;
	}

TD.report {
	border: 1px solid black;
	vertical-align: top;
	}


