header img,
header h1 {
  float: left;
  padding-left: 1em;
}
body {
  background-image: url('../images/light_honeycomb.png');
  background-repeat: repeat;
}
header label {
  color: black;
  display: block;
  text-align: right;
  font-size: 1.1em;
}
header .imgButton {
  cursor: pointer;
}
a {
  color: #04C;
}
#loginBox,
#welcome {
  float: right;
  margin: 1em 1em 0 0;
}
#loginBox p,
#welcome p {
  color: white;
  text-align: right;
}
#altHeader p {
  color: white;
  text-align: right;
  padding-right: 0.5em;
}
#showHeader {
  height: 20px;
  padding-left: 0.5em;
}
#buttonBox {
  margin: 0.4em;
  xposition: relative;
  xtop: -3em;
}
.borderBox {
  border: black thin solid;
  padding: 5px;
  margin: 0;
  color: black;
}
input[type="text"],
input[type="password"] {
  height: 28px;
}
.navbar {
  margin-bottom: 0.2em;
}
.staff {
  background-color: #a7d2a5;
  background-image: linear-gradient(0deg, #f0f0f0 0%, #f0f0f0 24%, #b8cfbd 54%, #73ba83 74%, #0d8026 100%);
  color: black;
}
#staffView {
  color: #00aa00;
}
#staffView:hover {
  color: #22ee22;
}
.participant {
  background-color: #dedcff;
  background-image: linear-gradient(0deg, #e8e8e8 0%, #e8e8e8 24%, #c3c1db 57%, #928dc4 77%, #1000a3 100%);
  color: black;
}
#ParticipantView {
  color: #6666ff;
}
#ParticipantView:hover {
  color: #aaaaff;
}
.checkbox.inline {
  padding-top: 0px;
  margin-bottom: 5px;
}
.checkbox.inline.long {
  padding-top: 0px;
  margin-bottom: 5px;
  width: 14em;
}
.checkbox.adjust {
  padding-top: 0px;
  margin-bottom: 8px;
}
.padded {
  margin-top: 0.5em;
}
#resultsDiv {
  padding-top: 1.0em;
}
#searchPartsINPUT {
  margin-bottom: 0px;
}
.nowidth {
  width: auto !important;
  padding-right: 1em;
  text-align: right;
}
.note {
  font-size: 0.85em;
}
#login {
  float: right;
}
label {
  xxtext-align: right;
  xxmargin-bottom: 0;
}
.compact {
  margin-bottom: 0px;
}
.congo_table {
  margin-top: 1em;
}
.topBorder {
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.edgeBorder {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.bottomBorder {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
}
h1 {
  font-family: Verdana;
  font-size: 2em;
  padding: 1em;
  color: black;
}
h1 a {
  color: white;
  text-decoration: none;
}
h2 {
  font-family: Verdana;
  font-size: 1.5em;
  padding: 0;
  color: #666;
  background-color: #ccc;
  text-align: center;
}
.center {
  text-align: center;
}
input.search-query {
  height: 21px !important;
}
.reportPageContent {
  line-height: normal;
}
div.reportPageContent table,
table.report {
  border-collapse: collapse;
  margin: 10px;
  border: 1px solid black;
  font-family: Arial;
  font-size: 12px;
}
div.reportPageContent table th,
th.report {
  border: 1px solid black;
  background-color: #c0e4ff;
  padding-right: 0.2em;
  padding-left: 0.2em;
}
div.reportPageContent table td,
td.report {
  border: 1px solid black;
  vertical-align: top;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
div.reportPageContent table td a,
.report A {
  color: #1c30b0;
}
td.za-report-lastRowCell {
  border-bottom: 2px solid black;
}
ul#boxes li {
  font-family: Verdana;
  font-size: 1.33em;
  padding: 2.5em 0;
  color: #999;
  background-color: #e5e5e5;
  text-align: center;
}
.arisiaLens {
  padding: 3px;
  display: table-cell;
  float: none;
}
.pageHeader {
  padding: 0;
  width: 100%;
  display: table;
  margin-top: 0;
  margin-bottom: 0;
}
.pageHeader div.pageHeaderText {
  width: 88%;
  margin-left: 0;
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.compressed {
  width: auto;
}
.table .myspan1 {
  width: 71px;
}
@media (max-width: 780px) {
  .wide-only {
    display: none;
  }
  label {
    xxtext-align: left;
  }
}
@media (max-width: 480px) {
  .wide-medium-only {
    display: none;
  }
  #loginBox {
    margin: 0 1em 0 0;
  }
  h2,
  .label {
    text-align: left;
  }
}
.rankINP {
  width: 2em !important;
}
.sessionWhyMe {
  height: 4.3em !important;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 0 1px !important;
}
input.search-query {
  padding: 0 4px 0 8px !important;
}
form.navbar-search {
  margin-top: 9px !important;
}
@media (min-width: 480px) {
  label[for="use_photo"] {
    width: auto !important;
    text-align: left !important;
  }
}
/* Staff Assign Participants */
#selsesformtop {
  margin-top: 1em;
}
#selsesform .row-fluid > div[class*='span'] {
  padding: 0.1em 0.5em;
}
#NPS_TXTA {
  width: 50%;
}
.stAsPa-sesInfRow {
  margin-bottom: 6px;
}
/* Bootstrap extensions */
.success-bg {
  background-color: #dff0d8;
}
.info-bg {
  background-color: #d9edf7;
}
.warning-bg {
  background-color: #fcf8e3;
}
.row-container {
  padding: 0;
  width: 100%;
  margin: 0 0 1.5em 0;
}
.za-sessionHistory-moderator {
  text-decoration: underline;
  font-style: italic;
}
.za-sessionHistory-editBanner {
  background-color: #b5b5b5;
  border: 1px solid #7b7b7b;
  border-radius: 3px;
  padding: 3px 4px;
  color: white;
  margin-bottom: 3px;
}
.za-sessionHistory-editBanner [class*='span'] {
  min-height: 0;
}
.grid-table-cell {
  padding: 5px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
.grid-table-cell:last-child {
  border-right: 1px solid black;
}
.grid-table-cell.span3 {
  margin-left: 0;
  width: 25%;
}
.grid-table-cell.span6 {
  margin-left: 0;
  width: 50%;
}
.grid-table-row:first-child .grid-table-cell:first-child {
  border-top-left-radius: 4px;
}
.grid-table-row:first-child .grid-table-cell:last-child {
  border-top-right-radius: 4px;
}
.grid-table-row:last-child {
  margin-bottom: 10px;
}
.grid-table-row:last-child .grid-table-cell {
  border-bottom: 1px solid black;
}
.grid-table-row:last-child .grid-table-cell:first-child {
  border-bottom-left-radius: 4px;
}
.grid-table-row:last-child .grid-table-cell:last-child {
  border-bottom-right-radius: 4px;
}
.grid-table-row.info .grid-table-cell {
  border-color: #3a87ad;
  background-color: #d9edf7;
}
.well.well-info {
  background-color: #dff0d8;
  border-color: #468847;
}
table.multcol-list td {
  padding-right: 1em;
}
