@import "Common.css";
@import "StaffSectSiteSpecific.css";

BODY {
     background-image: url("images/staffheadbg.png");
     background-repeat: repeat-x;
     }

H1.head {
     color: #106A22;
     }

TD.form1 {
     text-align: left
     }

/* Just overridding the small number of settings needed
to customize tabs for Staff */
.usabletab {
        background: #106A22;
}
span.mousedovertab a:visited {
        color: #106A22;
}
span.mousedovertab a:link {
        color: #106A22;
}

