BODY {
     margin-left: 0;
     margin-bottom: 0;
     margin-right: 0;
     padding: 0;
     font-family: Arial;
     background-image: url("images/staffheadbg.png");
     background-repeat: repeat-x;
     margin-top: 35px;
     }

P {
     margin: 10px;
}

.sectionheader {
     margin: 10px;
}

#error {
     FONT-WEIGHT: bold; color: #E02020
     }

hr {
     height: 0.1em;
     background-color: #106A22;
     }

A {
     font-weight: normal;
     color: #2775AF;
     text-decoration : none;
     }

A:hover {
     font-weight: normal;
     color: #00804F;
     text-decoration : none;
     }

H1, H2, H3 {
    text-align: center
    }

H1.head {
     margin-top: 0;
     padding-top: 0;
     font-family: Verdana;
     font-size: 150%;
     color: #106A22;
     z-index:2;
     padding-bottom: 0.5em;
     margin-bottom: 0
     }

H4 {
     margin-left: 5em;
     margin-right: 5em
     }

.Welcome {
     font-family: Arial;
     font-weight: bold;
     font-size: 11px;
     color: black;
     text-decoration : none;
     text-align: left
     }

.TopmenuText {
     font-family: Arial;
     font-weight: bold;
     font-size: 11px;
     color: white;
     text-decoration : none;
     }

A.TopmenuLink
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: white;
    text-decoration : none;
}

A.TopmenuLink:HOVER
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: yellow;
    text-decoration : none;
}

A.TopmenuLink-Active
{
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    color: yellow;
    text-decoration : none;
}

A.TopmenuLink-Active:HOVER
{
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: white;
    text-decoration : none;
    }

A.logout:link, A.logout:visited {
    background-color: #9B004E;
    color: #E8E473;
    font-size: 11px;
    font-weight: 800;
  }

A.logout:hover {
    background-color: #F00028;
    color: #E8E473;
    font-size: 11px;
    font-weight: 800;
    }
    
TABLE#header {
    border-collapse: collapse;
    margin: 0px;
    width: 100%;
    border: 0px;
    padding: 0px;
    }

img {
    border: 0px;
    margin: 0px;
    }

TABLE {
    border-collapse: collapse;
    margin: 10px;
    }
    
TH {
    background-color: #C0E4FF
    }

P.errmsg {
    color: red;
    font-weight: 700;
    }

P.regmsg {
    color: #33FF00;
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    }

#congo_section {
     display: table;
     }

.congo_data {
     display: table-row;
     }

.congo_data .label {
     font-family: Verdana;
     font-size: 12px;
     font-weight: normal;
     color: black;
     text-decoration : none;
     display: table-cell;
     /* text-align: "&nbsp;"; */
     padding-left: 3em;
     }

.congo_data .label2 {
     font-family: Verdana;
     font-size: 12px;
     font-weight: normal;
     color: black;
     text-decoration : none;
     display: table-cell;
     /* text-align: "&nbsp;"; */
     padding-left: 3em;
     }

.congo_data .value {
    font-family: Arial;
    font-size: 11.5px;
    font-weight: bold;
    color: #004080;
    text-decoration : none;
    display: table-cell;
    padding-left: 3em;
}

.congo_data .value2 {
    font-family: Arial;
    font-size: 11.5px;
    font-weight: bold;
    color: #004080;
    text-decoration : none;
    display: table-cell;
    padding-left: 3em;
}

.note {
     margin-left: 3em;
     font-size: 13px;
     }

select, input
{
    font-size: 11px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #003278;

}

.bigbox {
    display: table-cell;
    border: 1px solid black;
    padding: 3px;
    }
.formbox {
    display: block;
    border: 3px solid darkblue;
    padding: 3px;
    align: center;
    }

.cellwbox {
    padding: 2 em;
    cell-padding: 2em;
    margin: 2em;
    display: table-cell;
    }

.tcell {padding: 3px; display: table-cell;}
.trow {display: table-row;}


.tab {display: table;}

.tab-row {display:table-row}

.tab-col {display:table-column}

.tab-cell {display:table-cell; padding-left: 1.5em}

#contact {
  border: solid black 2px;
  width: 35em;
}

.last {
  display: block;
}

.label {
}

.small {
    font-size: small
    }

.addbox {
    border: none;
    font-style: italic;
    font-weight: bold;
    color: #252588;
    }
.border0000 {
    border:none
    }
.border0010 {
    border-top: none;
    border-right: none;
    border-bottom: solid black 1px;
    border-left: none
    }
.border0020 {
    border-top: none;
    border-right: none;
    border-bottom: solid black 2px;
    border-left: none
    }
.border1111 {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border1121 {
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 2px;
    border-left: solid black 1px
    }
.border1211 {
    border-top: solid black 1px;
    border-right: solid black 2px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border1221 {
    border-top: solid black 1px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 1px
    }
.border2111 {
    border-top: solid black 2px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border2122 {
    border-top: solid black 2px;
    border-right: solid black 1px;
    border-bottom: solid black 2px;
    border-left: solid black 2px
    }
.border2211 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 1px;
    border-left: solid black 1px
    }
.border2221 {
    border-top: solid black 2px;
    border-right: solid black 2px;
    border-bottom: solid black 2px;
    border-left: solid black 1px
    }

input[type="text1"] {
     /* left: 5em; */
     border: solid lightgray 1px;
     }

#update_section {
     display: table;
     }

#bestway {
     display: table-row;
     top: 1em;
     left: 1.25em;
     width: 27em;
     /* border: solid #eeeeee 2px; */
     }

#bwbuttons {
     display: table-cell;
     }

#bwemail, #bwpmail, #bwphone {
     display: inline;
     width: 100%;
     }

#bestway input[type="radio"]{
     font-size: smaller;
     }

#bestway label {
     display: inline;
     position: static;
     text-align: left;
     height: 1em;
     font-family: Arial;
     font-size: 11.5px;
     font-weight: bold;
     color: #004080;
     text-decoration : none;
     }

.divcheckbox {
     display: table-row;
     }

.spanlabcb {
     display: table-cell;
     font-family: Verdana;
     font-size: 12px;
     font-weight: normal;
     color: black;
     text-decoration : none;
     padding-left: 3em;
     }

.spanvalcb {
     display: table-cell;
     }

.radiohead {
     font-family: Verdana;
     font-size: 12px;
     font-weight: normal;
     color: black;
     text-decoration : none;
     /*display: table-cell;
     text-align: "&nbsp;";*/
     padding-left: 3em;
     }

.password {
     display: table-row;
     }

.password2 {
     display: table-cell;
     font-family: Verdana;
     font-size: 12px;
     font-weight: normal;
     color: black;
     text-decoration : none;
     padding-left: 3em;
     }

.password .value {
     display: table-cell;
     }

#submit {
     position: absolute;
     right: 20px; 
     }
     
.submit {
     position: absolute;
     right: 20px; 
     }
TD#sessidtcell {
     vertical-align:top
     }
TD#smallspacer {
     font-size: .5em
     }
#intCmnt {
    height: 2.4em
    }

TD#head {
   background: #808080;
   }

.bb {
    display: block; 
    }
.features {
    display: block; 
    border: 1px solid black; 
    }
.services {
    display: block; 
    border: 1px solid black; 
    }
.b5 {
    border: 1px solid black; 
    display: table-row; 
    }
.b5_a {
    display: table-cell; 
    vertical-align: top;
    }
.b5_b {
    display: table-cell; 
    vertical-align: top;
    }
.ib {
    display: table-cell; 
    padding: 2px;
    }
.select_set {
    display: table-row; 
    padding: 2px;
    }
.select_r {
    display: table-cell; 
    width: 15em;
    padding: 2px;
    }
.select_l {
    display: table-cell; 
    width: 15em;
    padding: 2px;
    }
.textwithlabel {
    display: table-row; 
    }
.textlabel {
    display: table-cell; 
    width: 7em ;
    vertical-align: top;
    text-align: right;
    }
.textlabelarea {
    display: table-cell; 
    height: 6.4em;
    }
.titlelabelarea {
    display: table-cell; 
    height: 1.2em;
    }
BUTTON {
    display: block;
    }
.buttons {
    position: absolute;
    right: 20px;
    }
