@import "Common.css";

BODY {
     background-image: url("images/staffheadbg.png");
     background-repeat: repeat-x;
     }

H1.head {
     color: #106A22;
     }

TD.head {
    background-color: white;
    text-align: center}

